[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.3.3"
pyqt5 = "*"
pyqt5-sip = "*"
pyqtwebengine = "*"
plotly = "*"
wordcloud = "*"
appdirs = "*"
pynput = "*"
ipython = "*"
pyarrow = "*"
astor = "*"
typing-extensions = "*"
qtstylish = ">=0.1.2"
pywin32 = "*"
setuptools = "*"
pandasgui = {file = "."}
sqlalchemy = "==2.0.44"
pymysql = "==1.1.2"
cryptography = "*"
pyinstaller = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
