[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyqt5 = "*"
pyqt5-sip = "*"
pyqtwebengine = "*"
plotly = "*"
wordcloud = "*"
appdirs = "*"
pynput = "*"
ipython = "*"
pyarrow = "*"
astor = "*"
typing-extensions = "*"
qtstylish = ">=0.1.2"
pywin32 = "*"
setuptools = "*"
pandasgui = {file = "."}
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
